@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #858585;
}
.container {
    max-width: 1100;
    margin: 0 auto;
}
.back{
    padding: 32px 0;
    background-color: #242628;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo {
    font-size: 24px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}
.btn-3 {
    height: 25px;
    font-family: 'Poppins', sans-serif;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}
.menu .navbar ul li a:hover {
    color: #D67E02;
}
#menu {
    display: none;
}
.menu-icono {
    width: 25px;
}
.menu label {
    cursor: pointer;
    display: none;
}
form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgb(214, 126, 2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    background-color: #edfff0;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}
h2 {
    color: #000000;
    font-size: 35px;
}
label {
    color: #D67E02;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #edfff0;
    border: 2px solid #f0faf1;
    color: #D67E02;
    outline: none;
}
input::placeholder, textarea::placeholder {
    color: #b5cab6
}
.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.form-txt a {
    color: #D67E02;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.btn {
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 25px;
    background-color: #D67E02;
    box-shadow: 0 0 20px rgb(214, 126, 2);
    cursor: pointer;
}
.btn:hover {
    background-color: #D67E02;
}
.footer {
    background-color: #242628;
    padding: 80px 0;
    
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-links{
    width: 25%;
    padding: 0 15px;

}
.footer-links h4{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #D67E02;
    padding-bottom: 10px;
    display: inline-block;

}
.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;

}
.footer-links ul li a:hover{
    color: #FFFFFF;
    padding: 6px;
}
.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;

}
.social-link a:hover{
    background-color: #858585;

}
@media(max-width:991px) {
    body{
        padding: 30px;
    }
    form{ 
        padding: 50px 30px;
        width: 100%;
    }
    input{
        padding: 15px;

    }
}
