@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #858585;
}
.container {
    max-width: 1100;
    margin: 0 auto;
}
.back{
    padding: 32px 0;
    background-color: #242628;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo {
    font-size: 24px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}
.btn-3 {
    height: 25px;
    font-family: 'Poppins', sans-serif;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}
.menu .navbar ul li a:hover {
    color: #D67E02;
}
#menu {
    display: none;
}
.menu-icono {
    width: 25px;
}
.menu label {
    cursor: pointer;
    display: none;
}
.about {
    padding: 100px 0 0 0;
    display: flex;
    align-items: center;
}
.about-img {
    width: 50%;
    text-align: center;
}
.about-img img {
    height: 400px;
    width: 450px;
}
.about-text {
    width: 50%;
}
h2 {
    font-size: 55px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #101010;
}
p {
    font-size: 16px;
    color: black;
    margin-bottom: 25px;
}
.btn-1 {
    display: inline-block;
    padding: 13px 35px;
    background-color: #D67E02;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
}
.product {
    text-align: center;
    padding: 0 0 100px 0;
    background-color: #858585
}
.product-content {
    margin: 50px 0 70px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.conte_parent{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    
}
.conte{
    background-color: #BBBBBB;
    height: 510px;
    width: 350px;
    box-shadow:0 0 7px #111 ;
    margin: 30px 30px;
}
.conte .card{
    height: 200px;
    width: 100%;
    margin-bottom: 170px;
  }
.card img{
    margin: auto;
    display: block;
    width: 300px;
    margin-top: 25px;
}
..informacion{
    height: 80px;
    width: 100%;
}
.informacion h1{
    font-family: sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #333;
    margin-bottom: -10px;
}
.informacion p{
    text-align: center;
    font-family: sans-serif;
    font-size: .9em;
    color: #555;
}
.precio {
    height:50px;
    width: 85%;
    margin: auto;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-precio{
    width: 80px;
}
 .precio1{
    color: red;
    font-size: .8em;
}
.precio .precio2{
    font-size: 1.5em;
}
.shoping{
    font-size: 1.5em;
    color: #555;
}
.news {
    padding: 100px 0;
    background-color: black;
}
.news-content {
    display: flex;
    align-items: center;
}
.news-1 {
    padding-left: 100px;
    width: 50%;
}
.news-1 h3 {
    font-size: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.news-1 p {
    color: #dcdcdc;
}
.news-2 {
    width: 50%;
}
form {
    display: flex;
    align-items: center;
}
input {
    width: 450px;
    padding: 15px;
    border: 0;
    outline: none;
    margin-right: 10px;
}
.btn-2 {
    width: 150px;
    background-color: #D67E02;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 200px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}
.footer {
    background-color: #242628;
    padding: 80px 0;
    
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-links{
    width: 25%;
    padding: 0 15px;

}
.footer-links h4{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #D67E02;
    padding-bottom: 10px;
    display: inline-block;

}
.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;

}
.footer-links ul li a:hover{
    color: #FFFFFF;
    padding: 6px;
}
.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;

}
.social-link a:hover{
    background-color: #858585;

}
@media(max-width: 991px) {
    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .back {
        padding: 40px 0;
   }
   .menu .navbar {
        position: absolute;
        top: 100%; 
        left: 0;
        right: 0;
        background-color: white;
        display: none;
   }
   .menu .navbar ul li {
        width: 100%;
   }
   #menu:checked .navbar {
        display: initial;
   }
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}
